<ul class="list-unstyled my-3">
  <marquee>
    <li>
      Design
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </li>
  </marquee>
  <li>
    React
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 77%"
        aria-valuenow="70"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </li>
  <li>
    Flask
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 70%"
        aria-valuenow="70"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </li>
  <li>
    NestJS
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 81%"
        aria-valuenow="60"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </li>
  <li>
    Hasura
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 75%"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </li>
  <li>
    GraphQL
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 80%"
        aria-valuenow="80"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </li>
  <li>
    Google Cloud Platform
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 72%"
        aria-valuenow="72"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </li>
  <li>
    PostgreSQL
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </li>
  <li>
    Microsoft SQL Server
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 64%"
        aria-valuenow="64"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </li>
</ul>
